<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="SaveYourTower.DesktopUI.GameSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      
      <section name="SaveYourTower.DesktopUI.LevelsSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
      <section name="SaveYourTower.DesktopUI.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <appSettings>
  </appSettings>
  <applicationSettings>
    <SaveYourTower.DesktopUI.GameSettings>
      <setting name="FullScreen" serializeAs="String">
        <value>False</value>
      </setting>
    </SaveYourTower.DesktopUI.GameSettings>
  </applicationSettings>
  <userSettings>
    
    <SaveYourTower.DesktopUI.LevelsSettings>
      <setting name="IterationLatency" serializeAs="String">
        <value>20</value>
      </setting>
      <setting name="EnemyGenerationLanency" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="MaxLevel" serializeAs="String">
        <value>3</value>
      </setting>
      <setting name="Level1EnemyCount" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="Level2EnemyCount" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="Level3EnemyCount" serializeAs="String">
        <value>5000</value>
      </setting>
      <setting name="Level1EnemyDamage" serializeAs="String">
        <value>5</value>
      </setting>
      <setting name="Level2EnemyDamage" serializeAs="String">
        <value>20</value>
      </setting>
      <setting name="Level3EnemyDamage" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="Level1EnemyVelocity" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="Level2EnemyVelocity" serializeAs="String">
        <value>2</value>
      </setting>
      <setting name="Level3EnemyVelocity" serializeAs="String">
        <value>5</value>
      </setting>
      <setting name="Level1EnemyLife" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="Level2EnemyLife" serializeAs="String">
        <value>2</value>
      </setting>
      <setting name="Level3EnemyLife" serializeAs="String">
        <value>10</value>
      </setting>
      <setting name="Level1EnemyPowerRising" serializeAs="String">
        <value>2</value>
      </setting>
      <setting name="Level2EnemyPowerRising" serializeAs="String">
        <value>2</value>
      </setting>
      <setting name="Level3EnemyPowerRising" serializeAs="String">
        <value>2</value>
      </setting>
      <setting name="TowerLife" serializeAs="String">
        <value>200</value>
      </setting>
      <setting name="TowerCannonBallLifeTime" serializeAs="String">
        <value>1000</value>
      </setting>
      <setting name="TurretCannonBallLifeTime" serializeAs="String">
        <value>1000</value>
      </setting>
      <setting name="TowerCannonDamage" serializeAs="String">
        <value>10</value>
      </setting>
      <setting name="TurretCannonDamage" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="AllHitSpellDamage" serializeAs="String">
        <value>100</value>
      </setting>
      <setting name="AllSlowSpellRatio" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="AllSlowSpellDuration" serializeAs="String">
        <value>3000</value>
      </setting>
      <setting name="EnemyCollierRadius" serializeAs="String">
        <value>10</value>
      </setting>
      <setting name="TowerColliderRadius" serializeAs="String">
        <value>10</value>
      </setting>
      <setting name="TurretColliderRadius" serializeAs="String">
        <value>10</value>
      </setting>
      <setting name="CannonBallColliderRadius" serializeAs="String">
        <value>3</value>
      </setting>
      <setting name="TowerCannonBallVelosity" serializeAs="String">
        <value>10</value>
      </setting>
      <setting name="TurretCannonBallVelosity" serializeAs="String">
        <value>5</value>
      </setting>
    </SaveYourTower.DesktopUI.LevelsSettings>
    <SaveYourTower.DesktopUI.Properties.Settings>
      <setting name="FullScreen" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Difficulty" serializeAs="String">
        <value>0</value>
      </setting>
    </SaveYourTower.DesktopUI.Properties.Settings>
  </userSettings>
</configuration>